* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

table {
    border-collapse: collapse;
    max-width: 600px;
}

table, th, td {
    border: 1px solid lightgray;
    text-align: center;
    padding: 10px;
}

.button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.edit-btn, .save-btn {
  background-color: #4CAF50;
}

.delete-btn, .cancel-btn {
  background-color: #f44336;
}

.new-btn {
    background-color: lightblue;
}

.form-popup {
    position: fixed;
    border: 1px solid lightgray;
    z-index: 1;
    top: 100px;
}

.form-container {
    min-width: 250px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-btn-container {
    display: flex;
    justify-content: space-between;
}

input {
    max-width: 150px;
    padding: 10px;
}